body{
    background-color: #c2ded1;
}
#navbar{
    font-size: 1.5rem;
    font-weight: 100;
    transition: background 500ms;
}
#navbar .nav-link{
    color: #354259;
}
#navbar .nav-link:hover{
    color: #354259;
}
#navbar .navbar-brand{
    color: #354259;
    font-size: 1.5rem;
}
.scrolled{
    background-color: white;
}
.blurb h2{
    color: #354259;
    font-weight: 100;
    font-size: 2.5rem;
}
.blurb p{
    color: #3f4e4f;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}
/* .content{
    margin-top: 100px;
    margin-bottom: 100px;
} */